*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	font-size: 16px;
}

a{
	text-decoration: none;
	color: black;
}

header{
	width: 100%;
}

header nav{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul{
	list-style: none;
	display: flex;
	gap: 30px;
	padding: 40px 0;
}

header nav ul li a{
	font-size: 1rem;
	padding: 20px 0;
}

header nav h1 a{
	font-size: 2.5rem;
}

header nav h1 a > span{
	font-size: 2rem;
	color: blueviolet;
}

main.hero-bkg{
	background-image: url("imagens/capa.png");
}