*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	font-size: 16px;
}

a{
	text-decoration: none;
	color: black;
}

.hero-bkg{
	background-image: url(imagens/capa.png);
	background-repeat: no-repeat;
}

header{
	width: 100%;
	height: 700px;
}

header nav{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul{
	list-style: none;
	display: flex;
	gap: 30px;
	padding: 40px 0;
}

header nav ul li a{
	color: #ffffff;
	font-size: 1rem;
	padding: 20px 0;
	text-shadow: 1px 10px 10px black;
}

header nav h1 a{
	font-size: 2.5rem;
	color: #ffffff;
	text-shadow: 1px 10px 10px black;
}

header nav h1 a > span{
	font-size: 1.5rem;
	color: #8a2be2;
	text-shadow: 1px 10px 10px black;
}

header div{
	margin: 200px auto;
	width: 50%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
}

header div h1{
	font-weight: 500;
	font-size: 2.5rem;
	text-shadow: 1px 10px 10px black;
}

header div p{
	font-size: 1rem;
	text-shadow: 1px 10px 10px #000000;
}

main{
	width: 100%;
	background-color: #482B62;
}

main > section{
	max-width: 800px;
	width: 100%;
	color: #ffffff;

	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 40px;
}

main section .itens{
	width: 50vw;
	height: 300px;
}

main div h2{
	text-shadow: 1px 10px 10px #000000;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 10px 0;
	margin-top: 20px;
}

main div p{
	text-shadow: 1px 10px 10px #000000;
	padding: 10px 0;
}

main section .device{
	position: relative;
	width: 50vw;
}

main section .device img{
	max-width: 400px;
	position: absolute;
	top: -154px;
}

main div ul{
	margin-left: 1.2rem;
	padding: 0 0 20px 0;
}

main div ul li{
	text-shadow: 1px 10px 10px #000000;

}

main div button{
	padding: 10px 30px;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: .8rem;
	background-color: #FF703D;
	cursor: pointer;
}

section.mockup{
	max-width: 1100px;
	height: 700px;
	margin: 0 auto;
	width: 100%;
}

section article{
	position: relative;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	height: 300px;

	display: flex;
	flex-direction: column;

}

article h2{
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	color: #482B62;

	margin-top: 30px;
}

article p{
	margin: 20px 0;
	text-align: center;
	color: #000000;
}

article img{
	position: absolute;
	width: 100%;

	top: 250px;
}


section.container-developer{
	margin: 0 auto;
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.container-developer .item-time{
	padding: 70px 30px;
	width: 50vw;
	background-color: #835FA7;
}

.container-developer .item-time > h3{
	text-shadow: 1px 10px 10px #000000;
	font-weight: 500;
	margin-bottom: 25px;
	color: white;
	font-size: 2rem;
}

.container-developer .item-time > p{
	text-shadow: 1px 10px 10px #000000;
	line-height: 2rem;
	color: #ffffff;
}

.container-developer .item-dev{
	padding: 70px 30px;
	background-color: #2B2F3B;
	color: white;
	width: 50vw;
}

.container-developer .item-dev p{
	text-shadow: 1px 10px 10px #000000;
}

.container-developer .item-dev div{
	display: flex;
	align-items: center;
	width: 100%;
}

.container-developer .item-dev div img{
	margin: 0 10px 0 0;
	border-radius: 50%;
}

.container-developer .item-dev div span{
	text-shadow: 1px 10px 10px #000000;
	font-weight: bold;
	font-size: .8rem;
	color: #835FA7;
}

section.contato{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #482B62;
}

.contato .form{
	width: 50vw;
}

.contato .form h2{
	font-size: 1.5rem;
	margin: 20px 0 10px 20px;
	text-shadow: 1px 10px 10px #000000;
	color: #ffffff;
	width: 40vw;
}

.contato .form p{
	margin: 0 0 10px 20px;
	text-shadow: 1px 10px 10px #000000;
	color: #ffffff;
	width: 40vw;
}

.contato .form form{
	width: 40vw;
	display: flex;
	flex-direction: column;
	padding: 50px 0 50px 20px;
}

form input[type=text]{
	padding: 10px 5px;
	outline: none;
	margin-bottom: 20px;

}

form input[type=email]{
	padding: 10px 5px;
	outline: none;
	margin-bottom: 20px;

}
form textarea{
	padding: 10px 5px;
	height: 250px;
	outline: none;
	resize: none;
	margin-bottom: 20px;

}

form button{
	width: 15vw;
	padding: 10px 15px;
	background-color: #FF703D;
	border-radius: 50px;
	border: none;
	color: #ffffff;
	cursor: pointer;
}

div.maps{
	width: 50vw;

}

div.maps iframe{
	margin: 20px 0 30px 50px;
	width: 70%;
	border-radius: 10px;
}

div.maps h2{
	margin-left: 50px;
	font-size: 1.5rem;
	text-shadow: 1px 10px 10px #000000;
	color: #ffffff;

}

footer{
	width: 100%;
	background-color: #2B2F3B;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

footer p{
	padding: 30px;
	color: white;
}

@media only screen and (max-width: 820px) {

		header nav{
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		header nav ul{
			
		}


		header div{
			width: 90%;
			text-align: center;
		}

		header div > h1{
			width: 90vw;
		}
		header div > p{
			width: 90vw;
		}

		div.itens{
			width: 100vw;
			margin: 0 auto;
		}

		div.itens h2{
			width: 100%;
		}
		div.itens ul{
			width:100%;
		}

		div.device{
			display: none;

		} 

		div.device img{
			display: none;
		}

		section.container-developer{
			display: block;
		}

		section.container-developer .item-time{
			width: 100%;
		}
		section.container-developer .item-dev{
			width: 100%;
		}
		section.contato{
			display: block;
			width: 100%;
			margin: 0 auto;
		}

		.contato .form{
			width: 90vw;
			margin: 0 auto;
		}
		.contato .form h2{
			padding: 50px 0 10px 0;
			text-align: center;
			width: 90%;
		}
		.contato .form p{
			text-align: center;
			width: 90%;
		}

		.contato .form form{
			width: 90vw;
			padding: 50px 0 0 0;
		}
		.contato .form button{
			width: 90vw;
			margin: 0 0 100px 0;
		}

		.contato .maps{
			text-align: center;
			width: 100%;
			margin: 0 auto;
		}
		.contato .maps h2{
			margin: 0;
			padding-bottom: 50px;

		}
		.contato .maps iframe{
			margin: 0 auto;
			width:80%;
			padding-bottom: 50px;

		}
  }